
  
  <table mat-table [dataSource]="customers"  class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="color:blue;font-size:20px;font-family: Verdana, Geneva, Tahoma, sans-serif;" > Name </th>
        <td mat-cell *matCellDef="let element; let i = index" >
          <span *ngIf = "i!=rowToEdit" style="color:rgb(7, 78, 48);font-size:15px;font-family: Verdana, Geneva, Tahoma, sans-serif;">{{element.name}}</span> 
          <mat-form-field *ngIf = "i==rowToEdit" >
            <input          
              matInput
              [(ngModel)]="customerToEdit.name" 
              [value] = "element.name"            
            >
          </mat-form-field>
        </td>
      </ng-container>
    
      <!-- Years Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef style="color:blue;font-size:20px;font-family: Verdana, Geneva, Tahoma, sans-serif;">Phone </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span *ngIf = "i!=rowToEdit" style="color:rgb(7, 78, 48);font-size:15px;font-family: Verdana, Geneva, Tahoma, sans-serif;">{{element.phone}}</span>
          <mat-form-field *ngIf = "i==rowToEdit" >
            <input          
              matInput
              [(ngModel)]="customerToEdit.phone" 
              [value] = "element.phone"            
            >
          </mat-form-field>         
        </td>
      </ng-container>
    
      <!-- Income Column -->
      

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef style="color:blue;font-size:20px;font-family: Verdana, Geneva, Tahoma, sans-serif;">Country of origin</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span *ngIf = "i!=rowToEdit" style="color:rgb(7, 78, 48);font-size:15px;font-family: Verdana, Geneva, Tahoma, sans-serif;">{{element.country}}</span>
          <mat-form-field *ngIf = "i==rowToEdit" >
            <input          
              matInput
              [(ngModel)]="customerToEdit.country"
              [value] = "element.country"            
            >
          </mat-form-field>         
        </td>
      </ng-container>

      <ng-container matColumnDef="population">
        <th mat-header-cell *matHeaderCellDef style="color:blue;font-size:20px;font-family: Verdana, Geneva, Tahoma, sans-serif;">Population</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span *ngIf = "i!=rowToEdit" style="color:rgb(7, 78, 48);font-size:15px;font-family: Verdana, Geneva, Tahoma, sans-serif;">{{element.population}}</span>
          <mat-form-field *ngIf = "i==rowToEdit" >
            <input          
              matInput
              [(ngModel)]="customerToEdit.population"
              [value] = "element.population"            
            >
          </mat-form-field>         
        </td>
      </ng-container>

      <ng-container matColumnDef="languages">
        <th mat-header-cell *matHeaderCellDef style="color:blue;font-size:20px;font-family: Verdana, Geneva, Tahoma, sans-serif;">Language</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span *ngIf = "i!=rowToEdit" style="color:rgb(7, 78, 48);font-size:15px;font-family: Verdana, Geneva, Tahoma, sans-serif;">{{element.languages}}</span>
          <mat-form-field *ngIf = "i==rowToEdit" >
            <input          
              matInput
              [(ngModel)]="customerToEdit.languages"
              [value] = "element.languages"            
            >
          </mat-form-field>         
        </td>
      </ng-container>
      <ng-container matColumnDef="currencies">
        <th mat-header-cell *matHeaderCellDef style="color:blue;font-size:20px;font-family: Verdana, Geneva, Tahoma, sans-serif;">Currency</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span *ngIf = "i!=rowToEdit" style="color:rgb(7, 78, 48);font-size:15px;font-family: Verdana, Geneva, Tahoma, sans-serif;">{{element.currencies}}</span>
          <mat-form-field *ngIf = "i==rowToEdit" >
            <input          
              matInput
              [(ngModel)]="customerToEdit.currencies"
              [value] = "element.currencies"            
            >
          </mat-form-field>         
        </td>
      </ng-container>
  
      <!-- Delete Column -->
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef style="color:blue;font-size:20px;font-family: Verdana, Geneva, Tahoma, sans-serif;"> Delete </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button 
            mat-raised-button
            color = 'warn'
            (click) = "deleteCustomer(i)"
          >
            Delete
          </button>                  
        </td>
      </ng-container>    
  
      <!-- Edit Column -->
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef style="color:blue;font-size:20px;font-family: Verdana, Geneva, Tahoma, sans-serif;"> Edit </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button 
            *ngIf = "i!=rowToEdit"
            mat-raised-button
            (click) = "moveToEditState(i)"
          >
            Edit
          </button> 
          <button 
            *ngIf = "i==rowToEdit"
            mat-raised-button
            color="primary"
            (click) = "updateCustomer()"
          >
            save
          </button> 
          <button 
            *ngIf = "i==rowToEdit"
            mat-raised-button
            (click) = "rowToEdit = null"
          >
            Cancel
          </button>                   
        </td>
      </ng-container>    
  
      <!-- Predict Column -->
      <ng-container matColumnDef="Predict">
        <th mat-header-cell *matHeaderCellDef style="color:blue;font-size:20px;font-family: Verdana, Geneva, Tahoma, sans-serif;"> Predict </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button 
          mat-raised-button
            color="primary"

        (click) = "goToModel(i)"
        >
        
      Go to Model</button>
  
        <button *ngIf = "element.result&&!element.saved" mat-raised-button 
        color="primary"
        (click) = "updateResult(i)"
        >
        Save
      </button>
      
        </td>
      </ng-container>  
      
      <!-- result Column -->
      <ng-container matColumnDef="Result">
        <th mat-header-cell *matHeaderCellDef style="color:blue;font-size:20px;font-family: Verdana, Geneva, Tahoma, sans-serif;"> Result </th>
        <td mat-cell *matCellDef="let element">
          <span  [ngClass]="[element.result=='Yes' ? 'green' : 'red']">{{element.result}}</span>
        </td>
      </ng-container>  

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>